[2018-09-06 14:16] pylipp opened #1 "Configurable editing mode"
Hej guys,

did some quick experimenting, looks great! One question though: do you think it's possible to somehow change the editing mode of an interactive numba run? The default mode for the prompt-toolkit Application is emacs (https://github.com/facebookincubator/python-nubia/blob/537e6c44834f7c4ecb7b037d7b28edf0bf49925e/nubia/internal/interactive.py#L102), would be sweet to be able to configure

[2018-09-07 01:45] cryzed opened #2 "Python 3.7 compatibility"
It would be great if this was fully compatible with Python 3.7, but it unfortunately isn't. The problem seems mostly linked with accessing private members of the `typing`module:

[code]

After importing Union instead (which I'm sure doesn't really fix the problem), it seemingly works fine, however there might be hiding more incompatibilities. For example, I suspect this is one:

[code]

[2018-09-07 11:08] ylectric commented on #2
Thanks @cryzed for reporting this. Importing `_Union` is an ugly hack that we use for inferring types for optional arguments. I think it's never been tested against Python 3.7, good catch!

[2018-09-07 16:35] grantpeltier opened #4 "Add ability to customize prompt"
Hey, I have been playing around with this lib a little and it's awesome! This is just an idea for a minor improvement. In interactive mode, it would be nice to have the ability to customize the prompt similar to [cmd](https://docs.python.org/3.6/library/cmd.html#cmd.Cmd.prompt) instead of it always being the user name. Perhaps also add the ability to add an [intro](https://docs.python.org/3.6/libr

[2018-09-08 17:29] ylectric commented on #2
@asamolion I think you can start with changing the required Python version in `Pipfile`.

[2018-09-08 18:13] asamolion commented on #2
Alright.

[2018-09-09 14:57] ylectric commented on #2
@asamolion, sorry for not making it clear enough. Please see my last comment in #6 for more details.
You can use `pipenv install --python 3.7` to use Python 3.7 interpreter with our `Pipfile` (just ignore the warnings).

[2018-09-10 08:51] prakashdanish opened #9 "Typo in readme"
If you are curious on the origins of the name, checkout Nubia on Wikipedia with **~~it~~ its** unique and colourful architecture.

[2018-09-10 17:13] ylectric commented on #9
Thanks for spotting it! Wanna send a PR? :)

[2018-09-10 17:16] ylectric commented on #2
OK, just for the record: it's tricky. The 3.7 version changes some important bits of typing mechanism which breaks our introspection.

[2018-09-10 17:36] prakashdanish commented on #9
@ylectric maybe leave it open as a `good-first-issue`?

[2018-09-11 11:49] csachs opened #10 "Automatic command collection?"
At first seeing nubia, I was excited of what I believed an easy way to glue together a CLI application …
however after trying to run the example from the README (by the way, the line `cprint(f"Verbose? {}".format(ctx.verbose), "yellow")` contains a `SyntaxError` causing `f`) by attaching a
[code]
to the example snippet from the README, no custom commands were usable.

Now taking a look at the exam

[2018-09-11 16:41] ylectric commented on #10
@csachs thanks for your suggestion!
You're right about the example, we've initially missed this in #8.

The good news are that we already the plan to support commands auto-discovery. Nubia lacks it due to historical reasons, but we definitely look forward to implementing it.

[2018-09-11 17:03] AhmedSoliman commented on #10
Thank you @csachs for your message. We definitely has the automatic command discovery in plan. The plan we have in mind is different than what you described but the effect of it is pretty much the same.

I'm planning to ship that before we mark nubia ready for v1.0. Stay tuned.

[2018-09-11 17:04] csachs commented on #10
Thanks for the clarifying responses. In that case it seems best to just wait :)

As another suggestion, I think having the name optional and have nubia auto-guess (e.g. based on script or module name) would be a nice feature. If someone is developing a large application, it's obviously fine to do some elaborate setup of nubia somewhere. But if someone just wants to quickly give one or a few functi

[2018-09-14 14:18] #9 closed

[2018-09-18 12:00] #4 closed

[2018-10-12 09:53] #1 closed

[2018-10-12 21:14] docent-net opened #14 "Dynamic values for command arguments & auto suggestions"
I've been looking for a way to dynamically fetch values into command argument values in interactive mode (could also work for non - interactive via shell completion).

For instance having:

[code]

I'd like user working in interactive mode have auto - suggestion while entering *host* value. This auto suggestion could be an async call to some defined method which basically fetches required data.

I

[2018-10-12 21:28] AhmedSoliman commented on #14
The only thing we support at the moment is to use `choices` but that has to be a list of values. We don't currently support dynamic fetching of choices. One reason is that for simplicity we generate a JSON file with all of the completion model to aid nubia_complete to perform bash completions too.

If you like, you want work on implementing this in Nubia, but we need to figure out how the story wi

[2018-10-25 08:59] chassing opened #15 "Release latest version"
please make a release with latest features (e.g. #7)

[2018-11-13 04:03] matthoffman opened #16 "Blacklisted commands still show up in completions"
Maybe I'm misunderstanding what blacklisted commands are for, but I was surprised to see that the blacklisted command in the example project still showed up in the list of available commands, and in tab completion, etc. It won't actually be executed, but it's still visible.
Is that desired behavior?

If not, I'm happy to submit a PR ... perhaps excluding it in `CommandRegistry.registerCommand`? Bu

[2018-12-14 10:27] calebmarchent opened #17 "TravisCI builds failing"
https://travis-ci.com/facebookincubator/python-nubia/builds/94521692

json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)
The command "pipenv install -d --system --three" failed and exited with 1 during .

[2018-12-14 10:52] calebmarchent commented on #17
Something else weird here, TravisCI build history doesn't appear to match commit history.
Need to understand why there is a gap.

[2018-12-14 12:02] calebmarchent commented on #17
I found a couple of articles on this issue, but am still not clear on the most reliable way forward so have posted a question on the Travis forums: https://travis-ci.community/t/travisci-support-for-pipenv/1436.

[2018-12-14 15:04] calebmarchent commented on #2
Reading the comment, the reference implementation for type inference has been updated to support Python3.7: https://github.com/ilevkivskyi/typing_inspect/commit/7aa7bb5a89ebd584f3885d993b417212592135c0#diff-faac2f2c6bc2bfba052313740ae107e8

The new behaviour is Python version dependent. I think the next action is to integrate the method above into Python-nubia.

[2018-12-14 16:16] calebmarchent commented on #2
I have added the port in my 3.7 PR #19; which certainly moved things forward a bit by breaking the failure to import _Union. We then fail on some of the unit tests; which probably means more of the fixes need to be imported.

[2018-12-16 21:59] dvx commented on #15
Heya folks, I would also appreciate a version bump (also interested in #7), lest I include the whole thing in my release.

[2018-12-17 16:22] calebmarchent commented on #15
I plan to release once we are in the New Year, no later than end of,  w/c 7 Jan 2019.
I had hoped to nail 3.7 support before the new release but while I was able to solve the first reported issue, I revealed a number of unit test failures; so will need to leave that until a later release

[2018-12-18 19:35] calebmarchent commented on #17
Fixed

[2018-12-18 19:35] #17 closed

[2018-12-29 02:17] ylectric opened #20 "[RFC] Use Poetry for dependency management and packaging"
I've been recently looking into some aspects of Nubia development and I feel that our choice of dependency management infra was somehow rushed and I want to suggest another option that may be better for this particular project.

First of all, let me explain why I'm not happy with [Pipenv.](https://github.com/pypa/pipenv)
1. We can support only one version of Python at a time with Pipenv which is u

[2018-12-29 02:21] ylectric commented on #16
Hi @matthoffman and thanks for noticing this!
I'm surprised to see this issue being open without any response for 1.5 months, but I was on PTO in November, I swear 🙂
It makes sense to me to exclude blacklisted commands from available completions, so a PR is absolutely welcome.

[2018-12-30 22:53] dvx commented on #15
Thanks for the update @calebmarchent -- Merry Christmas & Happy Holidays!

[2019-01-02 09:37] calebmarchent commented on #20
Ideally, I would like us to be able to offer python-nubia regardless of dependency management tool, rather than baking it in. For example use could use a Docker container to get the pre-requisite modules ; with no need for an additional layer.

[2019-01-07 10:53] AhmedSoliman commented on #16
I think our blacklisting mechanism works like "soft-blacklisting" (gray-listing?) rather than a hard blacklist. Blacklisting a command does not equal to removing the command, it's meant to give a clear signal that a command exists but is currently blacklisted because maybe it's dangerous.

In this semantic, it makes sense to see this command normally in help and auto completion lists. If you want

[2019-01-07 10:56] AhmedSoliman commented on #20
I don't have personal experience with Poetry, however, your reasons sound compelling enough to experiment. I think it's a good idea to try out and let us know.

[2019-01-08 11:54] calebmarchent commented on #15
Python Nubia 0.1b4 has now been uploaded to PyPi

[2019-01-08 11:54] #15 closed

[2019-02-14 11:28] cdluminate commented on #2
Any update on python3.7 compat?

[2019-02-19 16:08] calebmarchent commented on #2
No update at present as we are working on other priorities; We would welcome assistance offered in resolving the Python3.7 integration issues.

[2019-02-19 20:13] zhutony opened #22 "Python prompt_toolkit v2"
has any work been done to upgrade nubia to use prompt_toolkit v2?

[2019-02-19 20:52] ylectric commented on #22
@zhutony not yet, but we're considering this. It's not a top priority, although it's on our mid-term roadmap. Any help would be appreciated.

[2019-02-19 22:19] zhutony commented on #22
Thanks a lot for your quick response. I already made it work in an application specific way. Although I have no idea how much more work needed to generalize my code to be in Nubian way, I'm interested in doing it. Any suggestions or related documents are appreciated.

[2019-03-01 19:24] zhutony opened #23 "To replace FileHistory with InMemoryHistory"
I have created my first ticket here before, but I forgot to thank you guys for the awesome work. It has worked very well even in its humble beta version!

My question today is about command history. For security/privacy reason, I need to use InMemoryHistory instead, but it looks like I'd have to change Nubia source code. I'm looking for any other possible ways without changing the source code. any

[2019-03-04 15:39] AhmedSoliman commented on #23
Thanks @zhutony for posting. I think it's a great idea to have this controllable from the Plugin so that developers get an opportunity to decide. I will send a pull request today.

[2019-03-04 16:19] zhutony commented on #23
that's awesome, thanks @AhmedSoliman!

[2019-03-05 16:42] AhmedSoliman commented on #23
The diff that adds the support is landing. The way this works is that you will have to supply an `nubia.internal.options.Options` object as an argument to `Nubia`

See `internal/options.py` you will find the property `persistent_history` and it's set to True by default.

Note that this adds a new dependency on `dataclasses` as it's not readily available in Python 3.6. When we move to 3.7 I will re

[2019-03-05 17:12] zhutony commented on #23
yes, that's good enough for me. thank you so much for your quick response. really appreciate it.

[2019-03-06 09:52] #23 closed

[2019-03-06 09:53] AhmedSoliman commented on #22
@zhutony Can you explain a bit more what exactly are you looking for?

[2019-03-06 18:41] zhutony commented on #22
that's actually a good question I had asked to myself:-) and the short answer is there is no real reason.

longer version:
after having played a while with 'original' Nubia, I really liked it and convinced my team to use it. I was worried about the cases when some widgets from Python Prompt Toolkit are needed in future and I started to dig into the toolkit a bit. The toolkit v1 seems to be old and

[2019-04-17 14:35] spencerharmon opened #26 "Please release latest version"
When running the version in pypi, I get the following error. It only occurs after typing a registered command at the interactive shell and pressing the spacebar.
[code]

It seems to be related to the parsing of the shell text to acquire completion information. It doesn't occur when running from a bash shell and unittests don't have the issue using either using either run_cli_line or run_interactiv

[2019-04-18 08:59] AhmedSoliman commented on #26
This seem to have happened with newer versions of pyparsing. I will take a look at it.

[2019-04-19 19:04] spencerharmon commented on #26
Thanks for the help!

[2019-04-25 20:32] docent-net opened #27 "Command @argument description required?"
Got a problem when using the following decorators set:

[code]

When invoking app got:

[code]

And it makes sense; looks like add_argument_kwargs["help"] is NoneType when command description is not provided:

[code]

Not sure now if this is intended (thus documentation lacks information about required options) or not. I could fix this in argparse.py and make description optional or simply update

[2019-04-26 14:20] AhmedSoliman commented on #27
Yes, description is required. It would be nice if you send a doc update PR. Will be happy to accept it.

[2019-04-28 16:15] ylectric commented on #2
Hi everyone,
I'm happy to announce that I finished working on Python 3.7 support.

It will take a few days to land it as I'm waiting for #28 and also need to test our internal builds.

[2019-04-28 19:51] ylectric commented on #27
Closed by #29.

[2019-04-28 19:51] #27 closed

[2019-04-29 10:04] AhmedSoliman commented on #22
Implementation is complete, I will open a PR soon after #28 ships. Just a heads up. This is a backward breaking change.

[2019-04-29 11:01] AhmedSoliman commented on #20
As discussed. We are going with plain-old requirements.txt and setup.py for now. We can revisit this later when these tools mature and there is a solid story around supporting library use cases.

[2019-04-29 11:01] #20 closed

[2019-04-29 11:04] AhmedSoliman opened #30 "Move to asyncio everywhere"
After migrating to prompt-toolkit 2+ we should redefine the internal workflow around awaitables instead of plain-old function calls. This unblocks the work for background dispatch idea and make sure that users have a nice experience writing async commands first-level.

[2019-04-29 11:34] ylectric opened #32 "Enforce type checking on the codebase"
It would be nice to make Nubia strictly type checked so projects that use it could rely on its type safety.

Most likely we'll have to support both mypy and Pyre.

[2019-04-29 11:41] AhmedSoliman commented on #26
python-nubia 0.1b5 has been released on pypi. Can you please test it and let me know if you still see that issue?

[2019-04-29 13:36] spencerharmon commented on #26
Thanks for the help; looks like requirements.txt didn't make it into the package. When installing via pip, I get:
[code]
I downloaded the tarball separately, and it appears that it's missing. Everything works as expected when I install manually from the tarball using the requirements.txt from the github repo, though. That is, when I install from the pypi tarball manually, I don't run into the pypa

[2019-04-29 16:34] AhmedSoliman commented on #26
Package on pypi has been fixed, will send a PR to ensure that the repo is in-sync with it. @spencerharmon can you verify please?

[2019-04-29 17:15] spencerharmon commented on #26
Confirmed. 0.1b6 works as expected.

[2019-04-29 19:07] #26 closed

[2019-04-30 08:59] ylectric opened #34 "Cleanup leftovers from Python 2"
We have various leftovers from Python 2 support. Let's clean 'em up.

[2019-05-01 11:19] AhmedSoliman opened #36 "More flexible handling for boolean arguments"
In argparse, we only generate an argument for the boolean to set to _true_ but there is no way for the user to explicitly switch it off (pass False).

Our options:
1. Generate a '--no-X' argument automatically to toggle the boolean. (opinionated decision)
2. Give the user better control through the `@argument` to define the behaviour (needs spec)

[2019-05-02 11:52] AhmedSoliman commented on #22
prompt-toolkit has been upgraded in trunk. The next major release will contain these changes  (version 1.0)

[2019-05-02 11:52] #22 closed

[2019-05-04 16:44] AhmedSoliman commented on #10
#38 introduces this as part of our prep to release 1.0

[2019-05-04 16:45] AhmedSoliman commented on #10
Just to clarify, what I introduced in #38 is not exactly the same as @csachs proposed here. The user will need to import a python package (or more) that enclose all of the commands and pass the package to Nubia as an argument.

[2019-05-09 11:03] ylectric opened #43 "Subcommand aliases are broken"
After applying the patch from [this gist:](https://gist.github.com/ylectric/8b6c1fa6b4ae2ca0bf2bbdce23a8af14)
[code]

[2019-05-09 12:08] ylectric opened #44 "Nubia crashes when a subcommand has no docstring"
After applying the patch from [this gist:](https://gist.github.com/ylectric/87d90a0c4b5fa8d2f38742a228374166)
[code]

[2019-05-09 16:02] marimar96 commented on #43
**I will give it a try to this** !

[2019-05-09 16:05] ylectric commented on #43
@marimar96, that's great! Feel free to ask any relevant questions.

[2019-05-12 14:56] #2 closed

[2019-05-28 00:23] toti1212 commented on #44
Hi! Maybe I can help with that. If a subcommand no has description, can be a good approach set as a default description `No description`?

[2019-05-31 15:35] #10 closed

[2019-06-01 16:07] ylectric opened #48 "Run linter and formatter before commits"
We want to align the coding style for OSS and internal contributors.
As a first step, it would be nice to use [pre-commit](https://pre-commit.com) with Flake8 and Black hooks enabled and use default line length in Black.

[2019-06-03 02:56] marimar96 commented on #48
Will give it a try to this 👍

[2019-06-03 11:14] ylectric commented on #43
Fixed by #46

[2019-06-03 11:14] #43 closed

[2019-06-03 12:20] toti1212 commented on #44
@ylectric it makes sense for you this fix?

[2019-06-03 16:16] ylectric commented on #44
Hey @toti1212, I'm really sorry for a delay in response. I'd prefer to avoid having commands without description in the first place and report an error on startup. I'd love to know what @AhmedSoliman thinks.

[2019-06-04 14:41] sander76 opened #50 "Unable to install on windows"
requirement levenshtein requires compiling on windows making installation very hard.

[2019-06-06 14:49] AhmedSoliman commented on #44
I agree with @ylectric here, this is consistent with how we handle normal commands. We require docstrings to load the commands, in case we can't find "docstring" we will log and error and not load the command. We should have the same behaviour for super commands too.

[2019-06-06 14:55] toti1212 commented on #44
Nice, Maybe I can contribute to that. I will try to do it 🤓

[2019-06-07 09:25] AhmedSoliman commented on #50
Do you have suggestions in this case? do you think we should make Levenshtein optional?

[2019-06-09 10:37] sander76 commented on #50
I managed to install Levenshtein using the wheel provided here:

https://www.lfd.uci.edu/~gohlke/pythonlibs/

But I don't have a clue what Levenshtein does. So I don't know whether it is an option to make it optional ;-)

[2019-06-10 13:35] spuzirev opened #53 "Nubia doesn't recognize string-literals starting from digit"
Look at screenshot attached

![image](https://user-images.githubusercontent.com/1415234/59199095-07dbb680-8b8d-11e9-9b71-f05c492350b0.png)

[2019-06-11 02:10] marimar96 commented on #32
Hi @ylectric:
   I would like to know if this means that the type check should be part of the tests or it should be implemented like some config.ini file on the root of the project and then someone run the, for example, mypy with that config file as an argument.
   Although, I think it would be good to implement the type check in the pre-commit hook  :)

[2019-06-11 08:44] Zepheus commented on #53
String literals historically used to be quoted at all times in interactive mode. However, we decided to simplify both lists, dictionaries and strings to no longer require quotes in some cases.

Given the quotes are the "explicit" conversion to string, I am not sure whether it'll actually be worth to build a parser that can do both.

@AhmedSoliman any thoughts on this one?

[2019-06-11 12:15] spuzirev commented on #53
1) This field is annotated as `List[str]`, there's completely no reason to try to parse it as numeric.
2) Token containing mix of digits and letters probably is a string literal and not a numeric literal.

[2019-06-11 17:27] ylectric commented on #32
@marimar96, thanks for looking into this :)
The idea here is to enrol the code base into some type checking mechanism and eventually have it fully type annotated in strict mode.

The tricky part here is that we need to somehow align it with our internal infrastructure. For example, we'd prefer [Pyre](https://pyre-check.org) over mypy, but setting it up for both environments might be challenging.

[2019-06-13 12:08] AhmedSoliman commented on #50
Then we are good. Closing this :)

[2019-06-13 12:09] AhmedSoliman commented on #53
I think that this is a bug and should be fixed.

[2019-06-13 12:20] sander76 commented on #50
Well, having to manually install levenshtein severely minimizes usability of this library. So if it could be made optional that would make it much more usable in a win environment.

[2019-06-14 23:48] ylectric commented on #50
@AhmedSoliman, I agree with @sander76 here and therefore I'm re-opening this.
Although we've never tested Nubia on Windows, I think we should at least remove any obvious blockers. Let me look at the alternatives.

[2019-06-15 18:18] ylectric commented on #50
@sander76, I don't have access to Windows machine, could you please confirm that [jellyfish](https://github.com/jamesturk/jellyfish) installation is straightforward in your environment?
A simple `pip install jellyfish` would suffice.

[2019-06-16 18:11] sander76 commented on #50
@ylectric Yes. Installs without any problem.

[2019-06-16 18:33] ylectric commented on #50
@sander76, cool, thank you,
I'll send a PR to use jellyfish then.

[2019-06-16 18:35] sander76 commented on #50
No. Thank YOU.

[2019-06-17 17:45] ylectric commented on #48
Fixed in #52.

[2019-06-17 17:45] #48 closed

[2019-06-20 14:58] ylectric commented on #50
Quick update: I have two internal PRs that will switch Nubia to [jellyfish](https://github.com/jamesturk/jellyfish) once landed (hopefully by the end of the week).

[2019-06-23 17:17] toti1212 commented on #53
I read this issue and tried reproduced with `super-command print-name firstname=` command. Reordering the precedences from `singles_values` in parser seems to work. 🤔

[2019-06-25 15:40] ylectric commented on #50
Fixed in fe65311.

[2019-06-25 15:40] #50 closed

[2019-06-25 16:14] #53 closed

[2019-07-13 23:36] #44 closed

[2019-10-20 12:00] adhaamehab commented on #30
@AhmedSoliman Can I work on this?

[2019-10-20 13:34] ylectric commented on #30
@adhaamehab Please go ahead, although I think we've never actually defined what "everywhere" means :(

[2019-10-20 14:12] adhaamehab commented on #30
Great :)
I'm assuming that everything means every async-able  code :D

[2019-10-24 13:59] toti1212 commented on #36
Hi @AhmedSoliman
I think other CLI frameworks take the 2nd approach, isn't it? For example, [oclif](https://oclif.io/docs/flags) permits to change the default behavior.

[2019-10-29 20:38] AhmedSoliman commented on #36
@toti1212 Correct, this needs a design proposal though that we can agree on before we jump to implementation.

[2019-11-27 08:09] forseti opened #56 "Unable to run the example"
Hi team,

I was unable to run the example.

The error is:
[code]

Thanks!

[2019-11-30 10:50] rudaoshi opened #57 "Error when starting with ipython"
when run the Nubia with ipython=True, I got the error log:

[2019-12-02 10:23] ylectric commented on #56
Hey @forseti, 486ff76 should've fixed this. Please let us know if you still see any issues :)

[2019-12-02 10:23] #56 closed

[2019-12-02 10:31] ylectric commented on #57
I can confirm this. We need to strip anything intrinsic to LDShell from IPython mode.

[2020-01-03 13:04] #57 closed

[2020-01-27 13:03] cleanunicorn opened #59 "Light theme style"
The style only works on dark themes, the text is almost invisible on light themes.

![image](https://user-images.githubusercontent.com/547012/73176816-107dfe80-4116-11ea-86a1-19461525971e.png)

[2020-01-29 14:49] advand opened #60 ""Unknown Command ':help', Did you mean help? type :help to see all available commands""
Built-in help is available under `help`, not `:help` as indicated by the above message.

[2020-02-03 14:36] AhmedSoliman commented on #59
The style is defined in https://github.com/facebookincubator/python-nubia/blob/master/nubia/internal/ui/style.py

If you are interested, you can make this pluggable through the plugin interface so that users can define their own themes, what do you think?

[2020-02-05 06:46] fredxia opened #61 "Wrong args in io_loop.parse_and_evaluate() in start_interactive()"
Hi,

There is extra argument for parse_and_evaluate() in this call in nubia/internal/nubia.py:

                print("> {}".format(command))
                ret = io_loop.parse_and_evaluate(sys.stdout, command)

"sys.stdout" should be removed.

Thanks.

[2020-02-06 10:55] AhmedSoliman commented on #61
Good catch, do you want to send a PR to remove this or do you want me to send a fix instead?

[2020-02-06 10:56] AhmedSoliman commented on #60
Do you want to send a PR to fix the help message?

[2020-02-06 23:20] fredxia commented on #60
Ok. I will create a PR. Thanks.

Fred

Sent from my iPhone

[2020-02-07 00:09] ddutt opened #62 "Creating arguments with '_' in name doesn't work"
If I create an argument called start-time, its rejected by nubia saying that there isn't a matching arg in the decorated function. I cannot use '-' in name because that's not a valid character for python var name.

If I use 'start_time', nubia correctly converts that into '-' when displaying allowed arguments. It also matches the python var name and so life is good so far. However, attempting to u

[2020-04-03 10:47] #62 closed

[2020-04-12 19:01] advand opened #64 "Positional argument not parsed when passing additional args"
[code]

`config` is positional and `edit` is non-positional with a default value

[2020-04-18 02:00] vecin2 opened #65 ".exe built with pyinstaller does not show commands"
After importing nubia and create my commnads module with a simple command hello, I can run it  with `python example.py` and the hello command is prompted.

However if create a distribution using pyinstaller, when I run the example.exe, the hello command is not prompted anymore (only nubia commands are prompted)

I am assuming it will have to do with the way nubia  searches commands within the comm

[2020-04-18 03:57] vecin2 commented on #65
Ill close as this issue as this is more related with the pyinstaller works:

Python nubia needs the commands source code at runtime , so it can be parsed and then generate the commands, agurments, etc. However pyinstaller does not add source files by default (it uses .pyc).
I was able to get the commands to appear after including the commands package as data in pyinstaller (simply using --add-data

[2020-04-18 03:57] #65 closed

[2020-04-30 03:45] rodr0m4 opened #67 "Allow for a default subcommand"
First and foremost:
* My english sucks
* This library is amazing! (I was looking for a way to quickly make CLIs with interactive + non-interactive mode without repeating logic and this was exactly what I was looking for :) ).

Given something like this:

[code]

I'd like to provide a default subcommand to call when no arguments are passed, so I could call that command like:

[code]

And behind the

[2020-04-30 09:07] AhmedSoliman commented on #67
This is currently not supported but I don't think it's going to be hard to support. Do you like to take a stab into extending Nubia and supporting it?

However, it's possible to do what you want now manually by doing something around:

[code]

[2020-04-30 18:33] toti1212 commented on #59
Hi @AhmedSoliman , I'm interested in making that.  How do you think that could works? Maybe the user has some commands to change a style file?

[2020-05-03 23:06] rodr0m4 commented on #67
I'd like to do so :).

The only problem is defining a syntax I think. Because this would define a `default` argument for a command and (correct me if I'm wrong) does not exist in Nubia (I could try to add it, but it kinda escapes the scope of this issue).

I thought about three ways of solving this:

* Add a `default` parameter to `@command`, which would make Nubia call that subcommand when no arg

[2020-05-08 23:49] y92lin commented on #17
How did you resolve this issue? I'm having the same problem

[2020-05-14 16:03] #61 closed

[2020-06-15 16:16] David132639 commented on #60
Looks like this was resolved by 313effa03c10cfb1c251b7e8d5f2aa6206849f10

[2020-06-23 20:46] shankar-lucideus opened #68 "Add support for optional arguments"
The argument decorator lacks an option to set whether an argument is required or not. It is a very handy feature which is not present in the tool

[2020-06-24 08:34] ylectric commented on #68
Hey @shankar-lucideus, thanks for raising this.
An argument is required whenever it does *not* have a default value set. Hope this helps :)

[2020-06-24 08:34] #68 closed

[2020-08-14 08:18] BakinSergey opened #69 "can't extend example with self commands"
Hi!
Great work! Can u help me with my little trouble?
I try to add my own command to the example and later I don't see it in the list of commands. (
i add this fn into example/commands/sample_commans.py:
@command
@argument("number", type=int)
async def twiced(number):
    "Calculates the triple of the input value"
    cprint("Input is {}".format(number))
    cprint("Type of input is {}".format(typ

[2020-08-14 08:25] AhmedSoliman commented on #69
Did you try adding `description` to your argument?
[code]

[2020-08-14 09:47] BakinSergey commented on #69
yes, i try different trick, but no result (
even if i change code of example triple fn, and start new terminal session, i got prev fn behavior:
![image](https://user-images.githubusercontent.com/24735040/90237028-496c8f00-de2c-11ea-8a05-82ca3c5974f6.png)

[2020-08-14 09:56] AhmedSoliman commented on #69
Can you push that code to some repository so I can take a look at it?

[2020-08-14 10:05] BakinSergey commented on #69
no my_custom code!
i just:
1. clone https://github.com/facebookincubator/python-nubia.git
2. make venv from requirements.txt
3. change 49line(screen)
from:
cprint("{} * 3 = {}".format(number, number * 3))
to:
cprint("{} * 2 = {}".format(number, number * 2))
4. call  python example/nubia_example.py

[2020-08-14 10:56] #69 closed

[2020-08-26 22:28] BakinSergey opened #70 "can i change argparse arguments at runtime?"
how do I make it work (at runtime):
[code]
my question is: is it possible to change the startup parameters during execution?

[2020-08-30 19:36] AndreasBackx commented on #70
If I understand correctly, you want to have a command `change_verbose` to change the verbosity in your cli application? You would need to store this state/configuration outside of your application and read that in every time your application starts. Though this seems to be out of the scope Nubia.

[2020-08-30 19:44] BakinSergey commented on #70
some true, some not.
First. If i saw STATUSBAR with Verbose=OFF....Why i can't change it at runtime?
Second. Interactive mode as for me, mean that i can choose "mode of interactive", i.e change working mode, yeah, right, at rruntime...Verbose here is just for ex, in my app, i wanna have my specified DL modes...and as i understood - the statusbar at nubia as it now - just for printing some of args

[2020-09-12 04:53] byt3bl33d3r opened #71 "Commands available exlusively to interactive mode"
Hello!

I was wondering if there was a way of specifying a command to only be available in interactive mode? It seems like I might be able to do this by pulling some hackery in the `Context.on_cli()` method but I was wondering if there's a better way?

Cheers

[2020-09-12 13:59] AndreasBackx commented on #70
Sorry for the late reply. But I had another quick look and we seem to have a builtin command for this that you can use: `:verbose`. Have a look at the implementation here: https://github.com/facebookincubator/python-nubia/blob/master/nubia/internal/commands/builtin.py#L66-L89

[2020-09-12 14:19] AndreasBackx commented on #71
You should be able to do this when implementing the [`Command`](https://github.com/facebookincubator/python-nubia/blob/master/nubia/internal/cmdbase.py#L55-L67) class itself, but it's in the internal API. What `@command` decorators do is they add information to the function which is [picked up on startup](https://github.com/facebookincubator/python-nubia/blob/7dbee4735364f53167a6fde588e8db65c5d9ef

[2020-09-13 19:43] byt3bl33d3r commented on #71
Thanks for that, is this something you think you'd be interested in merging if I submitted a PR?

[2020-09-14 09:30] AhmedSoliman commented on #71
Thanks @AndreasBackx for sharing the context. @byt3bl33d3r yeah, we don't mind having this, I think it's a great feature if implemented reliably.

[2020-09-14 09:31] #60 closed

[2020-09-22 00:40] ddutt commented on #30
Any updates on this?

[2020-09-22 14:09] AndreasBackx commented on #30
@ddutt not really. I think we could do this progressively when we need to. I think we would be open to accept any incoming PRs that add async.

[2020-10-30 15:47] AndreasBackx commented on #70
Let me know if you have any more issues. I'll close it for now as we haven't heard back. 😊

[2020-10-30 15:47] #70 closed

[2020-11-06 13:43] ddutt opened #72 "Add pager to shell mode"
When executing inside python-nubia, it'd be useful to have a pager to pause the display, much like less or more. People who're comfortable with the completions and support offered by nubia inside the nubia shell are uncomfortable typing the long command from bash and piping it through more.

It seems there's a pager support using prompt-toolkit, https://github.com/prompt-toolkit/pypager. Is it pos

[2020-11-06 13:46] ddutt opened #73 "Releases?"
My project netenglabs/suzieq relies on nubia, but cannot use it via python packages due to infrequent releases. Would it be possible to get into a regular release cadence (into package upstream) even if all it has are bug fixes? The main benefit among other things is that I can stop relying on my fork of this repo. Thanks.

[2020-11-14 14:24] AhmedSoliman commented on #73
I think we can set this up to be automated via Github Actions. Let me figure a way to make this happen.

[2020-11-14 14:25] AhmedSoliman commented on #72
I'm not sure I understand how this will work exactly. Can you explain with an example?

[2020-12-15 16:35] ddutt commented on #72
Sorry for the delay in responding. I implemented this within the app myself.

Essentially, when there's more than a screenful in the interactive mode, users want a way to get the equivalent of Unix's more (or less) command. Does that help?

[2020-12-15 16:36] ddutt commented on #73
Any update on this ? I cannot release a PyPi package of my software because the version of nubia on PyPi is over a year old, and PyPi won't let me link to a github version. Thanks.

[2020-12-15 19:06] AhmedSoliman commented on #73
I've just released 0.2b5 to pypi until we get that automated. Hope that helps.

[2020-12-15 21:06] ddutt commented on #73
Yes!I managed to publish to PyPi with 0.2b5! Thank you, Dinesh

[2020-12-16 13:05] #73 closed

[2021-01-28 00:31] Hubro opened #77 "Nubia doesn't do anything"
I want to create a CLI interface as an enhancement to an existing project.

I have placed my Nubia code in the module: `myproject/cli.py`.

When I try to execute the CLI using: `python -m myproject.cli`, nothing happens.

My example code:

[code]

I don't want to execute the Python module directly (like `python3 myproject/cli.py` because, long story short, it messes with module paths and makes my

[2021-02-03 17:47] AhmedSoliman commented on #77
This is not enough to create a Nubia application. You need to have a main runner similar to the structure in the example application. Take a look at https://github.com/facebookincubator/python-nubia/blob/master/example/nubia_example.py for a working example.

[2021-02-03 17:47] AhmedSoliman commented on #71
@byt3bl33d3r have got a chance to work on this?

[2021-02-03 19:26] Hubro commented on #77
Ok, I see. That wasn't clear from the README :slightly_smiling_face: I would consider updating the README with a complete example.

Thanks!

[2021-02-03 19:26] #77 closed

[2021-05-19 13:39] esciara commented on #30
Hi there. I submitted a PR at #78 . Looking forward to some feedback.

[2021-09-13 12:17] AhmedSoliman commented on #67
On one hand, I like to see which command will be the default right on top where the class definition starts (by decorating the class itself). But that probably means that we will write the sub-command by name (string) which can break easily on refactoring.

On the other hand, annotating the command itself makes will remove this requirement. But it's easy to see multiple commands with that decorato

[2021-09-13 12:24] #16 closed

[2021-09-15 16:00] mellexpro opened #79 "printing to screen from a background process while prompt is active"
Hi.

I would like to know if it is possible to refresh the screen buffer every time I have a console message be printed from a `Thread` operation.
Currently what happens is that when I do a `cprint()` in my application it prints to the screen but the text does not align with the statusbar and it looks bad in general, only when I press enter on the keyboard it seems to refresh and the screen looks

[2021-09-23 05:09] ddutt commented on #72
I implemented this in my app itself, instead of relying on nubia.

[2021-09-23 05:09] #72 closed

[2021-09-24 08:48] dickens88 opened #80 "Can't disable all built-in command"
Hi ,

Is there anyway to disable built-in command, I tried the following method, but it seems some of the commands can be disable but some are not, eg `exit`.

[code]

I want to disable `exit` command, bcos my code need to use that word. many thanks

[2021-09-24 09:56] AhmedSoliman commented on #80
I don't think there is any easy way to do that at the moment.

[2021-09-26 10:22] dickens88 commented on #80
got it, many thanks

[2021-09-26 10:22] #80 closed

[2021-09-26 10:25] dickens88 commented on #65
@vecin2 I met the same issue, I want to package the script into a .exe with pyinstaller. cloud you please share the details you solve the problem?

[2021-10-21 09:02] daddycocoaman opened #83 "General state of Nubia"
Hi,

Just wondering what the general state of this repo is. Planned roadmap/updates? Planned to archive since logdevice is archived? Loose community-driven development? Thanks.

[2021-10-26 15:51] #83 closed, assigned to nobody

[2021-10-29 23:33] daddycocoaman opened #85 "Setup.py needs to pin pyparsing 2.4.7"
Hi,

I just spent the week troubleshoot a big problem for my tool based on Nubia and I have **finally** discovered the issue.

Nubia has a dependency on `pyparsing>=2.2.0,<3` as defined in the requirements.txt, but neither the setup.py nor the pyproject.toml reflect this.  I use Poetry as my dev environment and it has a great dependency resolving system. When developing my tool, everything works g

[2021-10-29 23:37] daddycocoaman commented on #85
It should be noted that pyparsing 3.0 was [released only a few days ago](https://github.com/pyparsing/pyparsing/releases/tag/pyparsing_3.0.0) so maybe Nubia users haven't noticed yet but this will definitely be an upcoming issue, if not already.

[2021-11-29 20:50] ddutt commented on #85
I ran into this problem too

[2021-12-06 20:08] #85 closed

[2021-12-08 16:34] AndreasBackx commented on #30
Should be addressed by #81.

[2021-12-08 16:34] #30 closed

[2021-12-16 07:24] ddutt opened #87 "Incorrect flagging of duplicate argument"
I seem to be running into what seems an invalid enforcement. Nothing bad seems to happen (choices provided are correct, help string is correct and so on) if we skip the enforcement. So, I'm not sure if this is a bug with consequences I'm not spotting, or is it just a wrong check.

I have a class SqCommand whose class decorator takes a set of arguments that apply to all the subcommands of that clas

[2021-12-16 14:58] ddutt commented on #71
This would be very useful to have if you can in addition then support dynamic command completions for those commands that are interactive only. From what I remember, to help bash, the current model of completions only supports statically defined lists.

If this can be enabled as well, then I can look at adding support as well, and would appreciate info on how to add dynamic completion then.

[2022-01-30 16:24] ddutt opened #88 "Project status?"
Hi maintainers,

What is the status of this project? I opened a ticket a while back and I see no response to it. I see the build has been failing since Dec 18, but there's been no fixes. IIRC, I saw an issue filed by Github asking if this project is to be archived due to inactivity.

Could you please let me know what the status is? This is a useful project to me, and I can fork it and maintain it

[2022-01-31 14:35] AndreasBackx commented on #88
Thank you for your concern in the status of the project @ddutt. I just want to let you know that we are definitely aware of your concerns and are discussing internally before getting back to you and others about the state of the project and how we plan to move forward.

Let us know if you have any other questions as well and we'll try to discuss and answer them. I hope we can get back to you by ne

[2022-01-31 20:55] ddutt commented on #88
Thanks @AndreasBackx. Looking forward to hearing from you.

[2022-02-12 17:14] tlmn-local opened #89 "There is a problem with the example"
[code]

result
[code]

Is there a problem with my method of operation?

[2022-02-15 14:11] AndreasBackx commented on #88
Hey @ddutt! I would like to cut the brief silence to ensure that I haven't forgotten about you or Nubia. I was on PTO last week and just want to you know there will be a post here shortly with a summary of the situation and what the future holds. Though I can likely say that the project will be archived one way or another. How we will be doing this and how we could perhaps help you or any users of

[2022-02-16 14:54] ddutt commented on #88
Good day @AndreasBackx As long as you allow us to fork the project and continue independent development, I'm comfortable. I intend to continue working on the project in open source only i.e. expect any changes I make to be public.

[2022-02-28 18:50] AndreasBackx commented on #88
Hi @ddut! My apologies for this taking longer than it should. I hope I can outline the process we'd like to go through and hopefully make it as easy as possible for any users to move over to a fork.

1. We won't make a final 0.3.0 release of the project, you're free to distribute this however as part of the first version of your fork. (Though keeping the current license in mind, see below.)
2. The

[2022-03-03 05:56] ddutt commented on #88
This sounds good @AndreasBackx. I don't see a reason to change the license, at least not for my purposes. Appreciate the tips on the possible names. Given that the UI is more like fish, I might go for a more fishy name :). But maybe not. I'll let you know when we've forked the project and picked a name. Fully understand about not making any recommendations. Makes total sense.

[2022-03-03 11:33] AndreasBackx commented on #88
If we were to mention your fork, do know that once the project gets archived, all issues and editing is closed from what I can tell.

Also wanted to note that I've been thinking of bringing the idea of Nubia's interactive shell to other Python CLI libraries like Click and Typer. It might make it easier for users to adopt as they would be familiar with those libraries. Maybe something to think abou

[2022-04-16 06:20] ddutt commented on #88
Hi @AndreasBackx I've forked this repo at netenglabs/nubia. Its a public repo and I'll continue to release from there.

[2022-04-16 06:29] ddutt commented on #88
I called the python package at PyPi nubia-cli. I've released the 0.1.0 version as is for now.

[2022-04-16 07:42] ddutt commented on #88
@AndreasBackx the addition of async has broken everything. Even the example doesn't work if you provide any additional args to  a command. Has this been even tested?

[2022-04-16 07:51] ddutt commented on #88
Here is the trace I get:
[code]

[2022-04-16 08:12] ddutt commented on #88
Ignore my comments, it was my mistake.

[2022-05-22 09:15] eubnara commented on #89
@tlmn-local
I think the nubia version on pip is not matched the source version.
You could try to build from source (https://github.com/facebookincubator/python-nubia#building-nubia-from-source) and install with `.whl` file.

[code]

After that, execute the example.
[code]

[2022-05-30 14:35] AndreasBackx commented on #89
Please see #88 for context. The main branch has version 0.3.0 which has not been released and will not be released as the project is getting archived.

[2022-05-30 14:35] #89 closed